header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
    font-weight: bold;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagembeneficios {
    width: 50%;
}

footer {
    background: url("bg.jpg");
    text-align: center;
    color: #FFFFFF;
}